.post {
  position: relative;
  border: 2px solid red;
  max-width: 80%;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
}

.post__remove {
  background-image: url('../../images/close.svg');
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.post__main {
  margin-top: 15px;
}