.filter {
  max-width: 80%;
  width: 100%;
}

.filter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__search-input {
  max-width: 80%;
  width: 100%;
  margin-bottom: 20px;
}

.filter__sort {
  margin-bottom: 10px;
}